#self {
    border: solid 3px;
    border-radius: 5px;
    float: right;    
}
body {
    background-color: lightskyblue;
}
h1 {
    color: darkblue;
    background-color: goldenrod;
    width: 75%;
    padding: 3px 3px 3px 3px;
    border: solid 5px;
    border-radius: 6px;
}
.mission {
    background-color: darkblue;
    color: goldenrod;
    margin: 20px;
    width: 50%;
    border: solid 5px;
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
    text-justify: auto;
    font-size: 28px;
    font-family: fantasy;
}
.quote {
    color: darkblue;
    background-color: goldenrod;
    border: solid 5px;
    border-radius: 6px;
    width: 10px;
    padding: 3px 3px 3px 3px;
    text-shadow: 1px 1px 1px black;
    font-size: 18px;
    font-family: cursive;
}